<%= form_with(model: booking, local: true) do |form| %>
  <% if booking.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(booking.errors.count, "error") %> prohibited this booking from being saved:</h2>

      <ul>
      <% booking.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :city %>
    <%= form.text_field :city, id: :booking_city %>
  </div>

  <div class="field">
    <%= form.label :date_and_time %>
    <%= form.datetime_select :date_and_time, id: :booking_date_and_time %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
