<p id="notice"><%= notice %></p>

<p>
  <strong>City:</strong>
  <%= @booking.city %>
</p>

<p>
  <strong>Date and time:</strong>
  <%= @booking.date_and_time %>
</p>

<%= link_to 'Edit', edit_booking_path(@booking) %> |
<%= link_to 'Back', bookings_path %>
